/* Remove links underline */
a.no-underline {
    text-decoration: none;
  }

.redColor{
  color: #C93C20;
}

.nav{
  border-bottom: solid;
  border-color: #C93C20;
}

.creamBackground{
  background-color: #ECF0E5;
}

/* Background for dropright menus */
#navbarNavDropdown>ul>li>ul{
  background-color: #ECF0E5;

}

/* Main List */
#navbarNavDropdown>ul>li>a{
  font-weight: bold;
  color: #262626;
}

/* Hover main list */
#navbarNavDropdown>ul>li>a:hover{
  background-color: #C93C20;
  color:white;
}

/* Hover sublists */
#navbarNavDropdown>ul>li>ul>li>a:hover{
  background-color: #C93C20;
  color:white;
}

/* Remove padding from left menu */
nav div.container-fluid{
  padding-left: 0;
}

/* Align Breadcrumb center */
div.container>div.row:first-child>div{
  vertical-align: bottom;
  margin: auto;
}

/* Remove breadcrumb mergin */
ol.breadcrumb{
  margin:0px;
  margin-top: 2px;
  margin-bottom: 2px;
}