/* Remove links underline */
a.no-underline {
    text-decoration: none;
  }

.redColor{
  color: #C93C20;
}

.nav{
  border-bottom: solid;
  border-color: #C93C20;
}

.creamBackground{
  background-color: #ECF0E5;
}

/* Background for dropright menus */

#navbarNavDropdown>ul>li>ul{
  background-color: #ECF0E5;

}

/* Hover main list */
#navbarNavDropdown>ul>li>a:hover{
  background-color: #C93C20;
  color:white;
}

/* Hover sublists */
#navbarNavDropdown>ul>li>ul>li>a:hover{
  background-color: #C93C20;
  color:white;
}

/* Remove padding from left menu */
nav div.container-fluid{
  padding-left: 0;
}