/* Remove links underline */
a.no-underline {
    text-decoration: none;
  }

.redColor{
  color: #C93C20;
}
.nav{
  border-bottom: solid;
  border-color: #C93C20;
}

.creamBackground{
  background-color: #ECF0E5;
}